
.header {
    grid-area: h;
    background-color:black;
    color: white;
    position: relative;
  }


  .header__img {
    width: 50px;
  }
  

  .loginBlock {
    position: absolute;
    right: 0px;
    top: 10px;
  }


  .loginBlock  a {
  color: white;
  text-decoration: none;

  }